body{
    margin: 0;
    font-family: 'Gudea', sans-serif;
}

a{
    text-decoration: none;
    width: 100%;
}

/*---- header ----*/

header{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(back1.jpg);
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

header ul{
    background-color: rgba(174, 242, 19, 0.65);
    margin: 0px;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    padding: 3px;
}

header a{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    flex: 1 1 0;
    padding: 20 15 20 15;
    margin: 0px;
    border-left: solid 2px;
    border-color: rgba(150, 217, 16, 0.33);
}

header h1{
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    padding: 5 5 30 5;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 400%;
}

header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}

header a:hover{
    border-radius: 3px;
    background-image: rgba(111, 155, 10, 0.65);
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, rgba(174, 242, 19, 0.2), rgba(85, 150, 19, 0.7));
    background-image: -moz-linear-gradient(top, rgba(174, 242, 19, 0.2), rgba(85, 150, 19, 0.7));
    background-image: -ms-linear-gradient(top, rgba(174, 242, 19, 0.2), rgba(85, 150, 19, 0.7));
    background-image: -o-linear-gradient(top, rgba(174, 242, 19, 0.2), rgba(85, 150, 19, 0.7));
    background-image: linear-gradient(to bottom, rgba(174, 242, 19, 0.2), rgba(85, 150, 19, 0.7));
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
