h1{
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-family: "Amaranth";

}

.hidden{
    display: none;
}

.vButton{
    width: 92%;
    margin: 0 auto;
    height: 20px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgba(150, 217, 16, 0.4);
    background-color: rgba(174, 242, 19, 0.65);
    text-align: center;
    padding: 15 0;
    color: rgba(137, 178, 24, 0.65);
}

.vButton:hover, .hbutton:hover{
    background-color: rgba(150, 217, 16, 0.8);
    cursor: pointer;
    color: rgba(65, 84, 11, 0.65);
}

.hButton{
    width: 5%;
    height: 18px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgba(150, 217, 16, 0.4);
    background-color: rgba(174, 242, 19, 0.65);
    text-align: center;
    padding: 21 0;
    color: rgba(137, 178, 24, 0.65);
}

#mealTable{
    background-image: url(back2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 1800px;
}

#dataPicker{
    margin: 0 auto;
    display: flex;
}

#dataPicker ul{
    display: flex;
    list-style: none;
    padding: 0px;
    width: 90%;
    margin: 0 0 15 0;
    overflow: hidden;
}

#dataPicker li{
    background-color: rgba(174, 242, 19, 0.65);
    position: relative;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    flex: 1 1 0;
    padding: 10 0;
    border: solid 2px;
    border-color: rgba(150, 217, 16, 0.4);
    height: 40px;
    float: left;
}

#dataPicker li:hover{
    cursor: pointer;
}
.meals{
    width: 90%;
    padding: 1%;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgba(150, 217, 16, 0.4);
    margin: 1 auto;
    background-color: rgba(178, 235, 64, 0.65);
    height: auto;
}
.meals h2{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
}
.meals li{
    font-family:'Amaranth';
    font-size: 18px
}
.meals p{
    font-family: "gudea";
    font-style: oblique;
}
