/*---- Sign up/in ----*/

body{
    height: 100%;
    background: url('login_background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.login-box{
    position: absolute;
    height: 250px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.6);
    top: 50%;
    left: 50%;
    margin: -125 0 0 -175;
}

.login-box h2{
    text-align: center;
    color: rgba(42, 79, 235, 0.88);
    font-family: Pacifico;
    font-size: 25px;
    margin: 0;
    padding: 10 0;
    border-bottom: solid 1px;
    border-color: rgba(42, 79, 235, 0.4);
}

.login-box form{
    margin: 5 20;
}
.login-box input{
    font-family: 'Gudea', sans-serif;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 25px;
    padding-left: 30px;
    margin: 10 0 0 0;
    border-radius: 5px;
    border: solid 1px;
    border-color: rgba(63, 80, 173, 0.15);
    background-color: rgba(255, 255, 255, 0.1);
}
.input-mail{
    background-image: url(icons8-customer-50.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position:left;
}

.input-password{
    background-image: url(icons8-lock-50.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position:left;
}

.login-box input[type='submit']{
    background-color: rgba(0, 166, 237, 0.75);
    border-radius: 5px;
    width: 45%;
    height: 40px;
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 0;
    text-align: center;
}

.login-box input[type='submit']:hover{
    background-color: rgba(0, 166, 237, 1);
    cursor: pointer;
}
